<div class="album bg-light py-5 px-5 my-5">
  <h1><%= @activity.title %></h1>
  <br>
  <div class="row">
    <% @photos.each do |photo| %>
      <div class="col">
        <%= image_tag photo.image.url(:medium) %>
        <p><%= photo.description %></p>
      </div>
    <% end %>
  </div>
</div>
