/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";
 @import "font-awesome";

 .field_with_errors input, .field_with_errors textarea {
   border: 1px solid red
 }

 #error_explanation {
   border: 1px solid red;
   padding: 2px;
   margin-bottom: 2px
 }

 #error_explanation li {
   color: red
 }

 .thumb {
   height: 100px;
   width: 100px
 }

 .review-box {
   border: 1px solid #388087;
 }

 body {
   background-color: #388087
 }

////////////Trying to get col's equal height (SHOULD DEFAULT TO THIS!)/////////
 .row.match-my-cols {
    overflow: hidden;
}

.row.match-my-cols [class*="col"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.row-eq-height > [class^=col] {
  display: flex;
  flex-direction: column;
}

.row-eq-height > [class^=col]:last-of-type div {
  margin: 10px;
}

.row-eq-height > [class^=col]:last-of-type div:first-of-type {
  margin-top: 0;
}

.row-eq-height > [class^=col]:last-of-type div:last-of-type {
  margin-bottom: 0;
}

.row-eq-height > [class^=col]:first-of-type .black {
  flex-grow: 1;
}
