<div class="row justify-content-md-center">
  <% categories.each do |category|%>
    <div class="col mb-3">
      <div class="card thumb box-shadow">
        <%= link_to category.title, category_path(category) %>
      </div>
    </div>
  <% end %>
  <br><br>
</div>
