<div class="row justify-content-md-center">
  <% categories.each do |category|%>
    <div class="col mb-3">
      <div class="card thumb box-shadow">
        <% if !!category.icon %>
            <%= link_to category_path(category) do %>
              <%= image_tag category.icon, size: "98x98" %>
            <% end %>
        <% end %>

      </div>
      <%= link_to category.title, category_path(category), class: "text-info" %>
    </div>
  <% end %>
  <br><br>
</div>
