<div class="row justify-content-md-center">
  <% categories.each do |category|%>
    <div class="col mb-3">
      <div class="card thumb box-shadow">
        <% if !!category.icon %>
            <%= image_tag category.icon, size: "98x98"%>
        <% end %>

      </div>
      <%= link_to category.title, category_path(category) %>
    </div>
  <% end %>
  <br><br>
</div>
