<div class="album px-5 bg-light py-5 my-5">
  <h1>Categories</h1>
  <div class="row justify-content-between">
    <%= render partial: "categories/category_card", locals: {categories: @categories} %>
  </div>

  BUTTON TO ADD CATEGORY IF ADMIN
</div>
