<div class="album px-5 bg-light py-5 my-5">
  <h1>Categories</h1>
  <div class="row justify-content-between">
    <%= render partial: "categories/category_card", locals: {categories: @categories} %>
  </div>

  <%= link_to "Add New Category", new_category_path, class: "btn btn-outline-dark" if current_user.try(:admin?) %>
</div>
