<div class="row justify-content-between">
    <div class="col-4">
      <h1><%= @category.title %></h1>
    <!--  <%= image_tag @category.icon.url(:thumb) %> -->
    </div>
    <div class="col-3">
      <h3><%= link_to "All Categories", categories_path %></h3>
    </div>
  </div>

<div class="container">
  <div class="row">
    <% @category.activities.each do |activity| %>
        <%= render partial: "activities/activity_details_for_index", locals: { activity: activity} %>
    <% end %>
  </div>
</div>
