
<div class="album bg-light py-5 px-5 my-5">
  <div class="row">
    <div class="col">
      <h3>Edit Activity</h3>
    </div>
  </div>

  <%= render partial: "form", locals: { activity: @activity} %>
</div>
