<div class="album bg-light py-5 px-5 my-5">
  <h1>Free Activities</h1>
  <div class="row justify-content-between">
    <div class="col-sm-3">
      <%= link_to "Add a new free activity", new_activity_path, class: "btn btn-outline-dark" %>
    </div>
    <div class="col-sm-3">
      <%= link_to "Most popular", activities_most_popular_path, class: "btn btn-outline-dark", id: "most_popular_btn" %>
    </div>
  </div>
  <br>
  <div class="row">
        <%= render partial: "activities/activity_details_for_index", collection: @activities, as: :activity %>
  </div>
</div>
