<span data-value="1" class="star fa fa-star <%# "checked" if rating > 0 %>"></span>
<span data-value="2" class="star fa fa-star <%# "checked" if rating > 1 %>"></span>
<span data-value="3" class="star fa fa-star <%# "checked" if rating > 2 %>"></span>
<span data-value="4" class="star fa fa-star <%# "checked" if rating > 3 %>"></span>
<span data-value="5" class="star fa fa-star <%# "checked" if rating > 4 %>"></span>
