
<div class="album bg-light py-5 px-5 my-5">
  <h1>All Locations</h1>
  <div class="row">
    <% @locations.each do |location| %>
      <%= render partial: "location_card", locals: {location: location} %>
    <% end %>
  </div>
</div>

<script id="activity-template" type="text/x-handlebars-template">
  <h4>{{title}}</h4>
  <div class="body">
    {{description}}
  </div>
</script>
