<span class="">Place sticky footer content here.</span><br>
<div class="row">
  <div class="col">
    <h4 class="font-weight-bold">Contact</h4>
    <p>123 Pantaloon Pl.</p>
    <p>Fairview, MI 34567</p>
    <p>email: imnotlistening@aol.com</p>
    <p>phone: 867-5309</p>
  </div>
  <div class="col">
    <h4 class="font-weight-bold">Other stuff</h4>
    <%= link_to "Bogus Link", "#" %><br>
    <%= link_to "Coolest Thing Ever", "#" %><br>
    <%= link_to "You Like Cheese?", "#" %><br>
    <%= link_to "Here is a Picture of a Cat", "#" %>
  </div>
  <div class="col">
    <h4 class="font-weight-bold">More stuff</h4>
    <p>Look who's talking about us!</p>
    <p>(thiis is where a twitter feed would go)</p>
  </div>
</div>
<br>
<span>&copy; ShmoopdyDoop Inc. 2018</span>
